html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls-section {
  display: flex;
  flex-flow: row nowrap;
}

#rooms_list,
#room_parties_list {
  min-width: 200px;
}

.sep-block {
  margin: 8px;
}

.inline-block {
  display: inline-block;
}

.video {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
